<section id="postnew">

<div class="row">
  <div class="large-8 medium-8 columns">
    <p>
      <a href="/songs/new">post a SONG!</a>
    </p>
  </div>
</div>

</section>


<section id="songblock">

  <% @songs.each do |song| %>
  <div class="row">
    <div class="large-12 columns">
      <div class="callout panel">
        <p><%= song.track %></p>
        <p><h3><a href="/songs/<%= song.id %>"></a> <small><strong>by: <%= song.artist %></strong> </p>
        <p><a href="http://<%= song.url %>"><%= song.url %></a></p>
        <p>created: <%= song.created_at %></p>
      </div>
    </div>
  </div>
  <% end %>

</section>
