
<% @songs.each do |song| %>
  <div class="song">
    <h3><a href="/songs/<%= song.id %>"></a> <small>(by: <%= song.artist %>)</small></h3>
    <p>
      <%= song.track %>
    </p>
    <p><a href="http://<%= song.url %>"><%= song.url %></a></p>
    <p>
      created: <%= song.created_at %>
    </p>
  </div>
<% end %>


<p>
  <a href="/songs/new">post a SONG!</a>
</p>
